.env
*.pem
*.key
*.crt

.git
.gitignore

__pycache__/
*.pyc
venv/
.venv/

build/
dist/
*.egg-info/

.vscode/
.idea/

.git
**/__pycache__/
env
node_modules
dist
build
*.log
.env
.DS_Store
.cache
.huggingface
.transformers
data
datasets
models
checkpoints
**/*.ipynb
